head
  title Sign Up
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')

body
  .container.mt-5.mx-auto.w-80
    h1.mb-4 Sign Up
    form(action='/signup' method='POST' class='needs-validation' novalidate)
      .form-col
        .col-md-6
          label(for='firstName') First Name:
          input(type='text' name='fName' id='firstName' class='form-control' required)
          br
          div(class='invalid-feedback')
            Please enter your first name.
        .col-md-6
          label(for='lastName') Last Name:
          input(type='text' name='lName' id='lastName' class='form-control' required)
          br
          div(class='invalid-feedback')
            Please enter your last name.


      .form-col
        .col-md-6
          label(for='username') Username:
          input(type='text' name='userName' id='username' class='form-control' required)
          br
          div(class='invalid-feedback')
            Please enter a username.

        .col-md-6
          label(for='password') Password:
          input(type='password' name='password' id='password' class='form-control' required)
          br
          div(class='invalid-feedback')
            Please enter a password.

      .form-col
        .col-md-6
          label(for='confirmPassword') Confirm Password:
          input(type='password' name='confirmPassword' id='confirmPassword' class='form-control' required)
          br
          div(class='invalid-feedback')
            Please confirm your password.


      button(type='submit' class='btn btn-primary') Sign up
      a.ml-5(href='/') Nevermind
      p.mt-3 Already have an account? 
        |  
        a(href='/login') Sign in here!
      if error
        p(style='color: red; margin-top: 10px;') #{error}
